<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="logs"></div>
    <div id="bottom"></div>
    <script type="text/javascript" src="/assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/assets/js/application.js"></script>
  </body>
</html>
